*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: white;
    letter-spacing: 1px;
    font-family: 'Iceland', cursive;
    background-color: rgb(31, 34, 37);
}

/* SECCION PERSONAL */
header{
    display: flex;
    flex-direction: column;
    justify-content: left;
    row-gap: 8vh;
    padding-left: 6vw;
    padding-top: 10vh;
    background-image: url(../img/neye.png);
    background-repeat: no-repeat;
    background-position: 40% 40%;
    background-size: 130%;
    position: fixed;
    top: 0;
    left: 0;
    width: 45%;
    height: 100%;
}
header span{
    color: rgb(21, 212, 21);
}
.container-date p{
    font-size: 1.2em;
    margin-bottom: 0;
}
.container-date a, h1{
    margin-bottom: 0;
}
.container-date a:link, a:hover, a:visited{
    text-decoration: none;
    color: white;
}
.container-menu div{
    position: relative;
    width: 6vh; 
    height: 0.4vh;
    background-color: orange;
    margin-bottom: 5vh;
}
.container-menu a:link, a:hover, a:visited{
    text-decoration: none;
    color: white;
}
.container-menu a{
    position: relative;
    top: -7vh;
    left: 5vw;
    font-size: 1.2em;
}
.container-menu a:hover{
    color:  rgb(179, 179, 179);
    font-size: 1.4em;
}
.container-red{
    display: flex;
}
.container-red ul{
    position: absolute;
    display: inline-flex;
    column-gap: 3vh;
    list-style: none;
    align-items: center;
    height: 5vh;
    width: 45vw;
}
.container-red ul i{
    font-size: 2em;
}
.container-red i:hover{
    color: rgb(21, 212, 21);
}
main{
    top: 0;
    right: 0;
    position: absolute;
    width: 55%;
    height: 515vh;
    /* background-color: rgb(120, 120, 120); */
}

/* SECCION ACERCA DE MI*/

.section-iam{
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: right;
    padding-top: 2vh;
    padding-right: 3vw;
    padding-left: 2vw;
    margin-bottom: 5vh;
    overflow: hidden;
}
.section-iam img{
    padding-left: 1vw;
    width: 25vw;
    height: 50vh;
}
.section-iam h1{
padding-bottom: 2vh;
border-bottom: 1.5px solid  orange;
}
.container-iam{
    position: relative;
    display: flex;
    width: 100%;
    justify-content:space-around;
    align-items: center;  
    top: 10vh;
}
.container-iam:hover{
    background-color: rgb(99, 98, 98);
    transition: 0.7s;
}
.container-iam p{
    padding-left: 2.5vw;
    text-align: left;
    font-size: 1.3em;
}
.container-atribute{
    display: flex;
    position: absolute;
    list-style: none;
    width: 100%;
    height: 5vh;
    top: 14vh;
    justify-content: center;
    padding: 0;
}
.atribute{
    display: inline-flex;
    color: orange;
    border-left: 1.5px solid orange;
    border-right: 1.5px solid orange;
    margin: 0.5vh;
    justify-self: center;
}
/* SECCION ESTUDIOS*/

.section-preparation{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 110vh;
    text-align: right;
    padding-top: 2vh;
    padding-right: 3vw;
    padding-left: 2vw;
    
}
.container-preparation{
    display: flex;
    position: relative;
    justify-content: right;
    width: 100%;
    height: 25vh;
    flex-direction: column;
    margin-bottom: 5vh;
}
.section-preparation h1{
    padding-bottom: 2vh;
    border-bottom: 1.5px solid  orange;
}
.container-preparation p{
    font-size: 1.3em;
}
.container-icons{
    display: flex;
    position: relative;
    width: 100%;
    height: 40vh;
    padding-top: 4vh;
    padding-bottom: 4vh;
    column-gap: 4vw;
    row-gap: 3vh;
    justify-content: center;
    flex-wrap: wrap;
}
.container-icons div{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 8vw;
    height: 10vh;
    background-color: rgb(31, 34, 37);
    border-radius: 20%;
}
.container-icons h3{
    text-align: center;
    padding-top: 3vh;
    width: 8vw;
    height: 10vh;
    bottom: 0;
    position: absolute;
    transition: 0.7s ease;
    background-color: rgba(199, 199, 199, 0.574);
    color: rgb(31, 34, 37);
    border-radius: 20%;
   
}
/* Hover para iconos*/

.container-icons div:hover .hover-students{
    opacity: 0;
    visibility: hidden;
}
.container-icons .items i{
    font-size: 3em;
}
.container-students{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: right;
    width: 100%;
    height: 100%;
    top:10vh;
}
.container-students div{
    position: relative;
    width: 100%vw;
    height: 20vh;
    padding-top: 0.5vh;
    padding-right: 2vh;
    margin-top: 4vh;
    border-right: 1px solid orange;
}
.container-students div h2{
    color: orange;
    margin-bottom: 0;
}
.container-students p{
    margin-bottom: 0;
}
.container-students div h5{
    color: orange;
    margin-bottom: 0;
}
.container-students ul{
    display: flex;
    list-style: none;
    display:inline-flex;
    column-gap: 2vh;
    padding-top: 2vh;
    flex-wrap: wrap;
}
.container-students ul li{
    width: 5vw;
    height: 3vh;
    background-color:  rgba(21, 212, 21, 0.539);
    border-radius: 25%;
    text-align: center;    
    font-weight: 500;
    font-size: 1em;
    row-gap: 1vh;
}
.container-students ul .more-width{
    width: 12vw;
}
/* SECCION PORTAFOLIO*/
.section-work{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: right;
    padding-top: 2vh;
    padding-right: 3vw;
    padding-left: 2vw;
}
.container-work{
    display: flex;
    justify-content: center;
}
.section-work h1{
    padding-bottom: 2vh;
    border-bottom: 1.5px solid  orange;
}
.container-portafolio{
    display: flex;
    align-items: center;
    width: 100%;
    height: 90vh;
    justify-content:space-around;
}
.container-img-flex{
    display: flex;
    position: relative;
    width: 30vw;
    height: 70vh;
    border: 1px solid orange;
}
.container-pie{
    position: absolute;
    width: 30vw;
    height: 20vh;
    bottom: 0;
    text-align: left;
    padding: 1vh;
    background-color:rgba(255, 166, 0, 0.753);
}
.container-pie a{
    color: rgb(27, 27, 209);
    font-size: 0.8em;
}
.container-pie p{
    font-size: 0.9em;
}
.container-pie p, a, h3{
   margin-bottom:0;
}

.section-work>a:hover, a:link, a:visited{
    text-decoration: none;
}
.section-work .previous,.section-work .previous2,.section-work .previous3, .section-work .next,.section-work .next2, .section-work .next3 {
    color:  rgba(12, 117, 12, 0.539);
}
.section-work .previous:hover,.section-work .previous2:hover,.section-work .previous3:hover, .section-work .next:hover,.section-work .next2:hover, .section-work .next3:hover {
    color:  rgba(21, 212, 21, 0.539);
}

@media only screen and (max-width: 1060px) {
    .container-iam{
        flex-wrap: wrap;
    }   
    .container-students ul .more-width{
        width: 12vw;
        height: 5vh; 
    }
}
@media only screen and (max-width: 750px) {
    header{
        position: relative;
        width: 97.3vw; 
    }
    
    .container-menu{
        visibility: hidden;
        opacity: 0;
    }
    .container-date{
        position: relative;
        top: 3vh;
        left: 3vw; 
    }
    main{
        width: 97.3vw;
        position: relative;
    }
    .container-icons{
        column-gap: 7vh;
    }
    .container-icons div, .container-icons h3{
        width: 12vw;
    }
    .container-students ul .more-width{
        width: 25vw;
        height: 5vh; 
        align-items: center;
    }
    .all ul li{
        width: 10vw;
    }
    

}
@media only screen and (max-width: 550px) {
    header{
        height: 97.3vh;
        background-position: 40% 50%;
    }
    .container-red ul{
        padding-left: 11vh;
    }
    .section-iam img{
        width: 75%;
        height: 75%;
    }
    .container-img-flex{
        width: 60vw;
        height: 70vh;
    }
     .container-students h5, h2{
        font-size: 1.2em;
     }
     .container-students ul .more-width{
        font-size: 1em;       
        width: 20vw;
    }
    .container-pie{
        width: 60vw;
        height: 20vh;
    }
    .container-pie h3, p, a{
        padding: 0;
        margin-bottom: 0;
    }

}
@media only screen and (min-width: 750px){
    .nvis{
        visibility: hidden !important;
        opacity: 0 !important;
    }
    .footer{
        visibility: hidden;
        opacity: 0;
    }
}
